:root {
    font-size: calc(0.5 + 1vw);
}

@media (min-width: 800px) {
    :root {
    font-size: 0.875em; 
    }
}

@media (min-width: 1200px) {
    :root {
      font-size: 1em;
    }
}

body {
    font-size: 16px;
}


.slogan {
    font-size: 1.2em;
    padding: 1.2em;
    background-color: #CAC5C2;
}

div {
    margin-bottom: 2em;
}

.padded {
    font-size: 16px;
    padding: 2em;
}

.padded a:link {
    color: purple;
    text-decoration: none;
}

.boxes {
    padding: 2em;
}

.box {
    padding: 1em;
    border-radius: 1em;
    background-color: #F5C249;
}

.box-small{
    font-size: 18px;
}

.box-large {
    font-size: 18px;
}

ul {
    font-size: .8rem;
}

.panel {
    font-size: 1rem;
    padding: 1em;
    border: 1px solid #999;
    border-radius: 0.5em;
}
  
.panel > h2 {
    margin-top: 0;
    font-size: 0.8em;
    font-weight: bold;
    text-transform: uppercase;
}

.panel.large {
    font-size: 1.2rem;
}

.square {
    width: 90vmin;
    height: 90vmin;
    background-color:#A0D453;
}